{
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"embeddedLanguageFormatting": "auto",
	"endOfLine": "crlf",
	"htmlWhitespaceSensitivity": "css",
	"jsxSingleQuote": false,
	"printWidth": 80,
	"proseWrap": "preserve",
	"semi": true,
	"tabWidth": 4,
	"singleAttributePerLine": false,
	"singleQuote": false,
	"trailingComma": "es5",
	"useTabs": true
}
