body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI",
		system-ui, "Ubuntu", "Droid Sans", sans-serif;
	font-weight: bold;
	font-size: large;
	color: #cccccc; /*text color, might change later*/
	background-color: #101010;
}

.sidebar {
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
	background-color: #2b2b2b;
	height: 100%;
	width: 15%;
	min-width: 320px;
	max-width: 400px;
	position: fixed;
	top: 0;
	left: 0;
	overflow-y: scroll;
	z-index: 1;
	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sidebar::-webkit-scrollbar {
	display: none;
}

.sidebarheader {
	margin-bottom: 20px;
}

.sidebar a {
	color: #bababa;
	text-decoration: none;
}

.sidebar a:hover {
	text-decoration: underline;
}

.logo {
	/*this is the most cursed way of centering i've seen*/
	margin: auto;
	width: fit-content;
	margin-top: 5%;
	margin-bottom: 5%;
}

.logolabel {
	text-align: center;
}

.collapsible {
	background-color: inherit;
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
	padding: 3%;
	cursor: pointer;
	text-align: left;
}

.funcList {
	background-color: #3c3c3c;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.1s ease-out;
}

.funcListItem {
	background-color: inherit;
	font-family: inherit;
	font-weight: inherit;
	font-size: medium;
	border: none;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	cursor: pointer;
	text-align: center;
	width: 100%;
	text-decoration: none;
}

.funcListItem:hover {
	background-color: #505050;
}

.funcListItem a:hover {
	text-decoration: underline;
}

.active,
.collapsible:hover {
	background-color: #505050;
}

pre {
	/*make sure code snippet text wraps*/
	white-space: pre-wrap;
}

.docBody {
	margin-left: clamp(320px, 15%, 400px);
	text-align: left;
}
